<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{.Favicon}}">
      <link rel="stylesheet" href="{{.Style}}">

    <script src="{{.WasmExec}}"></script>
  
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("{{.Wasm}}"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
    
    <title>{{.Title}}</title>
</head>
<body>
{{.Body}}
</body>
</html>